/* ===================================================================
Import Bootstrap LESS and Site Specific LESS
=================================================================== */

@import 'less/bootstrap.less'; /* Compiled in Codekit - referenced here as a Framework */
@import 'less/responsive-utilities.less'; /* Load Responsive media queries  */
@import '../_less/variables.less'; /* Your site specific LESS variables - these override BS defaults  */
@import 'build/lesshat.less'; /* Load Mixins */

.nobreak {
	white-space: nowrap;
}

section p:first-child {
	padding-top: 0px;
}

article {
	padding-bottom: 10px;
}

#cookie {
  padding-top: 10px;
}

#logo {
	height:50px;
	float:left;
	margin:5px;
}

.logo {
	.navbar-brand{
		padding-left: 5px;
		padding-right: 5px;
		line-height: 18px;
	}
}

.btn {
	border: 0;
	min-width: 5.14em;
	padding: 0.7em 0.57em;
	margin: 9px 0px;
	.border-radius(3px);
	.box-shadow(rgba(0, 0, 0, 0.156863) 0px 2px 5px 0px);
	.transition(box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1));
}

.btn:hover {
	.box-shadow(rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px);
}

.btn-default:hover {
	background-color: @btn-default-bg;
}

.btn-primary:hover {
	background-color: @btn-primary-bg;
}

.navbar {
	text-shadow: 1px 1px @gray;
	margin-bottom: 0;
	font-weight: 400;
	.btn-default {
		color: @gray;
		text-shadow: none;
	}
}

.navbar-default .navbar-toggle {
	border: 0;
	&:hover, &:focus {
		background-color: #6e96bf;
	}
}

.map-div {
	padding-left: 0;
}

.heading-wrap {
	margin-bottom: 10px;
	padding-bottom: 10px;
	background: @gray-lighter;
}


div.thumbnail {
	text-align: center;
	height: 215px;
	border: 0;
	background-color: @gray-lighter;
	img {
		max-width: 200px !important;
		max-height: 80px !important;
		margin: 10px auto;
	}
}

h1 {
	//color: darken(@navbar-default-bg, 30%);
}

h2 {
	color: @gray;
}

section {
	margin-bottom: 10px;

	& p:first-child, & address:first-child {
		padding-top:10px;
	}
}

table {
	text-align: center;
	& th {
		text-align: center;
		font-size: @font-size-base*1.2;
	}
}

.listini, .cataloghi {
	margin: 0;
	padding: 0;

	p:first-child {
		padding-top: 0;
	}
}

form {
	padding: 30px;
	input.form-control {
		.box-shadow(none);
		padding-bottom: 7px;
		border-top: 0;
		border-left: 0;
		border-right: 0;
		border-bottom: 1px solid @gray-light;
		&:hover, &:active, &:focus {
			padding-bottom: 6px;
			border-bottom: 2px solid @brand-primary;
			.box-shadow(none);
		}
	}
}

#admin table {
	margin-top: 20px;
}

@media (max-width: @screen-sm-max) {
	h2, h4, p, address {
		text-align: center;
	}
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max){
	.index .well {
		height: 180px;
	}
}

@media (min-width: @screen-md-min){
	.index .well {
		height: 250px;
	}
}

.index {
	.row {
		margin-top: 20px;
		.well {
			background: @gray-lighter;
			border: 0;
			color: @gray;
			margin-bottom: 0;
			box-shadow: none;
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
			text-align: center;

			h2 {
				margin-top: 5px;
			}
		}
	}

}

/* Sticky footer styles
      -------------------------------------------------- */
html,
body {
	height: 100%;
	font-weight: 300;
	// background: url("../img/bg-top.gif") repeat-x;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -61px;
	padding-bottom: 70px;
}

/* Set the fixed height of the footer here */
#footer {
	// height: 60px;
}
#footer {
	background-color: @gray-lighter;
}

.container .credit {
  margin: 20px 0;
}