---
layout: default
---

<!-- CHI SIAMO -->

<div class="heading-wrap">
	<div class="container">
		<h2>Chi Siamo</h2>
	</div>
</div>
<section class="container">
	<article class="text">
		{{ content }}
	</article>
</section>

<!-- CONTATTI -->

<a name="info-societa"></a>
<div class="heading-wrap">
	<div class="container">
		<h2>Informazioni Societarie</h2>
	</div>
</div>
<section class="container">
	<article class="text">
		<p>
			<strong>Outdoor Experience Srl</strong> è una società a responsabilità limitata a socio unico.<br>
			La società è iscritta al registro delle imprese di Milano.<br>
		</p>
		<p>
			<strong>P.IVA:</strong> 08589420960<br>
			<strong>Capitale Sociale:</strong> &euro; 10.000<br>
			<!-- <strong>Numero di Registro:</strong> <br> -->
		</p>
	</article>
</section>

<a name="contatti"></a>
<div class="heading-wrap">
	<div class="container">
		<h2>Contatti</h2>
	</div>
</div>
<section class="container">
	<div class="contacts">
		<div class="col-md-3 col-sm-4 map-div">
			<address>
				<strong>Sede Legale</strong><br>
				Via Milano, 41<br>
				Pozzo d’Adda (MI), 20060<br>
				Italia<br><br>
				<strong>Sede Operativa</strong><br>
				Via Amendola, 4<br>
				Burago di Molgora (MB), 20875<br>
				Italia<br>
				<small><a href="https://www.google.it/maps?t=m&amp;q=Via+Giorgio+Amendola,+4,+Burago+di+Molgora+MB&amp;ie=UTF8&amp;hq=&amp;hnear=Via+Giorgio+Amendola,+4,+Burago+di+Molgora,+Monza+e+della+Brianza,+Lombardia&amp;z=14&amp;ll=45.596008,9.387072&amp;source=embed" target="_blank">Visualizza l'indirizzo in Google Maps</a></small>
			</address>
			<address>
				<strong>Sergio Dossena</strong><br>
				<b><span class="glyphicon glyphicon-envelope"></span></b>  <span class="spamspan"><span class="u">info</span>@<span class="d">outdoorxp.it</span> (<span class="t">Invia E-Mail</span>, <span class="subject">Richiesta informazioni</span>)</span><br>
				<b><span class="glyphicon glyphicon-earphone"></span></b>  <a href="tel:+393347011200">+39 334 7011200</a><br>
				<span><img src="/img/icons/skype.png" style="height:20px;opacity:0.8;"></span>  <a href="skype:serdos60">serdos60</a>
			</address>
		</div>
		<div class="col-md-9 col-sm-8">
			<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.it/maps?t=m&amp;q=Via+Giorgio+Amendola,+4,+Burago+di+Molgora+MB&amp;ie=UTF8&amp;hq=&amp;hnear=Via+Giorgio+Amendola,+4,+Burago+di+Molgora,+Monza+e+della+Brianza,+Lombardia&amp;z=14&amp;ll=45.596008,9.387072&amp;output=embed"></iframe>
		</div>
	</div>
</section>
